


:root{

    height: 100hv;
    margin: auto;
    
    --cor0: #494EB2;
    --cor1: #AA8AB1;
    --cor2: #A591D0;
    --cor3: #91bbee;

    --font-padrao: ;
    --font-titulo: ;

}

header>h1{
    text-align: center;
    padding: 30px;
    color: var(--cor3);
    text-shadow: white 1px 1px 1px;
}

header{
    margin: -10px;
    padding: 30px;
    border-radius: 0 0 15px 15px;
    background-color: gray;
    background-image: url(imagens/Wallpaper-4k.jpg);
}

header>p{
    
}

body{
    background-color: var(--cor0);
    margin: 0;
    line-height: 1.5em;
}
main{
    background-color: white;
    text-align: justify;
    text-indent: 15px;
    border-radius: 0 0 10px 10px;
    padding: 30px;
    margin: 10px 100px;
}
main>h2{
    font-size: 20px;
}
main>p{
    margin: 20px 0 40px 0;
}

article{
    background-color: var(--cor3);
    background-image: url(imagens/4k-Aesthetic-Background.jpg);
    color: white;
    text-shadow: black 1px 1px 1px;
    margin: 0 -30px;
    padding: 30px;
    
}
article>h2{
    font-size: 20px;
}

div{
    background-color: var(--cor2);
    margin: 0 -30px 30px -30px;
    padding: 20px;
    position: relative;
    padding-bottom: 59%;
}
div>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside>p{
    
}

footer{
    background-color: white;
    margin: 40px 0 0 0;
    padding: 10px 40px;
    font-size: 15px;
    text-align: center;

}